@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; 
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


* {
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out, border-color 0.15s ease-in-out;
}